body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  }
  
  .main-content {
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }

  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .candidate {
    display: flex;
    background-color: rgb(243, 255, 243);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Three divs in a row */
    box-sizing: border-box;
    position: relative;
    float:left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    
  }
  
  .candidate h3 {
    margin: 0;
    position: absolute;
    top: 10px; 
    right: 10px; 
    

  }
  
  .candidate img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-right: 10px; 
  }

  .thanks
  {
    margin-top:100px;
    animation: swayAnimation 2s linear infinite;
  }
  
  @keyframes swayAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
 
.gbutton {
  position: absolute;
  top: 10px; 
  left: 10px;
  appearance: none;
  backface-visibility: hidden;
  background: linear-gradient(to right, #4CAF50, #2E7D32); 
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  position: absolute;
  width: 270px;
}
.gbutton:hover {
  width: 270px;
  background: linear-gradient(to right, white, white); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  color:black;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s; 
}

.gbutton:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.gbutton:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


.vote-button{
  appearance: none;
  backface-visibility: hidden;
      background: linear-gradient(to right, #4CAF50, #2E7D32); 
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  position: absolute;
    bottom: 10px; 
    right: 10px; 
}

.vote-button:hover {
  background: linear-gradient(to right, white, white); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  color:black;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.vote-button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.vote-button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


